button + button {
  margin-left: 5px;
}
.customTooltip {
  color: #222222;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 8px;
}
.actionBtnBottom {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid rgba(206, 190, 190, 0.356);
}
.actionCollumn {
  display: flex;
  justify-content: center;
  // text-align: center;
  align-items: center;
}
