.smtpConfig {
  padding: 20px;
  position: absolute;
  width: calc(100% - 250px);
  min-height: calc(100% - 64px);
  form {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .smtpConfig {
    width: 100%;
  }
}
