.breadcrumb {
  font-weight: 600;
  color: #222222;
  :global {
    .ant-breadcrumb-link {
      color: #222222;
    }
  }
  .breadcrumbIcon {
    svg {
      font-size: 16px;
    }
  }
  .canClickBreadcrumb {
    cursor: pointer;
  }
}
