.navItem {
  width: 8.125rem;
  white-space: normal;
  line-height: 1.1;
  word-break: break-word;
}
.leftNav {
  height: calc(100% - 64px);
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  :global {
    li,
    .ant-menu-submenu-title {
      min-height: 60px;
      span {
        color: #3b3737 !important;
        .anticon {
          svg {
            width: 16px;
            height: 16px;
          }
        }
        .ant-menu-title-content {
          font-size: 16px;
          overflow: hidden;
        }
      }
      .ant-menu-submenu-arrow {
        color: #3b3737 !important;
      }
    }
    .ant-menu-sub {
      li {
        padding-right: 24px;
      }
    }
  }
}
:global {
  .ant-menu-item-selected {
    background-color: #1677ffce !important; 
  }
  .ant-menu-item,
  .ant-menu-submenu-title {
    &:hover {
      background-color: #1677ffce !important;
    }
    &:active {
      background-color: #1677ffce !important;
    }
  }
  .ant-menu {
    .ant-menu-sub .ant-menu-title-content,
    svg {
      color: #222222 !important;
    }
  }
}
